h2 { 
    font-size: 24px; 
    font-weight: normal; 
    text-align: center;
  }
  
  p { 
    font-size: 18px;
  } 
  
  main > div { 
    background-color: #8DA7BE;
    border-radius: 10px;
    font-size: 30px; 
    padding: 20px; 
    text-align: left; 
  } 
  
  main > div > a { 
    color: #Ff0000; 
    font-size: 18px
  } 
  
  main > div > a:hover { 
    background-color: #8DA7BE; 
    color: #3F4454; 
  } 
  
  main > div > a:focus { 
    background-color: #cbd7e2;
    color: #3F4454; 
    outline: none;
  } 
  
  #container1{
    background-color: #cbd7e2;
    color: #3f4454;
    grid-area: area1; 
    text-align: justify; 
  } 
  
  #container2 { 
    grid-area: area2;
    background-color: #cbd7e2;
    color: #3F4454; 
    text-align: justify;
  } 
  
  #container3 { 
    grid-area: area3; 
    background-color: #8DA7BE;
    color: #3F4454; 
    text-align: justify;
  } 
  
  #container4 { 
    grid-area: area4;
    background-color: #8DA7BE; 
    color: #3F4454; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
  } 
  
  #container4 img { 
    max-width: 100%;
    height: auto; 
    border-radius: 8px;
    margin-bottom: 10px;
  } 
  
  #container4 p { 
    font-size: 24px; 
    font-weight: bold; 
    margin: 10px 0; 
  }
  
  main {
    display: grid;
    grid-template-areas:
      'area1'
      'area2'
      'area3'
      'area4'; 
    grid-template-columns: auto; 
    grid-template-rows: auto; 
    grid-gap: 20px; 
    padding: 20px;
  } 
  
  @media only screen and (min-width: 992px) {
    main {
      grid-template-areas: 
      'area1 area2' 
      'area3 area4';
    } 
  } 
  
  
  footer {
    background-color: #8DA7BE;
    color: #3F4454;
    padding: 16px 32px; 
    text-align: center; 
    font-size: 16px; 
    width: 100%;
    position: bottom; 
  } 
  
  figcaption {
    font-size: 15px; 
  }
  