#row { 
	display: flex;
	flex-wrap: wrap; 
	padding: 0 12px; 
	vertical-align: middle;
} 

.column {
	text-align: center; 
	margin-top: 50px; 
	margin-left: auto; 
	margin-right: auto; 
	max-width: 100%;
	vertical-align: middle;
} 

.column img {
  width: 100%;      
  height: auto;        
  aspect-ratio: 4 / 3;
  object-fit: cover;   
  padding-bottom: 10px; 
  display: block;
} 


@media only screen and (min-width: 768px) { 
	.column {
		max-width: 50%;
		padding: 0 6px; 
	} 

	#row { 
	padding: 0 6px; 
	} 
} 

header {  
  background-color: #3F4454;
  color: #8DA7BE; 
  padding: 16px 32px; 
  position: sticky;
  top: 0;
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  box-shadow: none; 
} 

footer { 
  background-color: #8DA7BE; 
  color: #3F4454; 
  padding: 16px 32px; 
  text-align: center; 
  font-size: 1rem; 
  width: 100%; 
  position: relative;
} 



@media only screen and (min-width: 1200px) { 
	.column { 
		max-width: 25%; 
	} 
} 

