*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6;
    color: #ffff;
    background-color: #8DA7BE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

header {
    background-color:#3F4454; /* the top */
    color: #ffff;
    padding: 16px 32px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
}

footer {
    background-color:  #3F4454;
    color: #ffff;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: none;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.3px;
    flex: 1;
}

#hamburger_checkbox {
    display: none;
}

#hamburger_menu {
    display: none;
    cursor: pointer;
    z-index: 1001;
    margin-left: 16px;
}

#hamburger_icon {
    display: none;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

nav {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    flex: none;
}

nav a {
    font-size: 20px;
    font-weight: 700;
    color: #ffff;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    transition: all 0.3s ease;
    position: relative;
}

nav a:hover {
    background-color: #3F4454;
    color:#3F4454;
    transform: none;
}

nav a.active_nav {
    background: rgba(2, 150, 160);
    color: #ffff;
    
}

@media only screen and (max-width: 768px) {
    #hamburger_menu {
    display: block;
    }

    #hamburger_icon {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        gap: 16px;
        background-color: #ffff;
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        z-index: 999;
        border-radius: 0 0 8px 8px;
    }

    #hamburger_checkbox:checked ~ nav 
    {
        display: flex;
    }

    nav a {
        padding: 16px;
        font-size: 19px;
        border-radius: 0;
        text-align: center;
    }
}

@media only screen and (min-width: 760px) {
    #hamburger_menu {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        gap: 32px;
        position: static;
        width: auto;
        background: none;
    }
}